@model IEnumerable<RamirezExamenProgreso1.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistroCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalidaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIPCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RamirezW)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistroCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalidaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIPCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RamirezW)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
